@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body{
  background-color: #FCF4EE;
  font-family: 'Montserrat', sans-serif !important;

}

/*Buttons*/

.btn-1{
  background-color: #ec1b26 !important;
  border-color: #ec1b26 !important;
  border-radius: 1px !important;
}

.btn-1:hover{
  background-color: #ec1b26 !important;
  border-color: #ec1b26 !important;
}

.button-groups{
  width:180px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-color: #FFF !important;
  border-radius: 20px !important;
}

.btn-2{
border-radius: 20px !important;
  border-color:rgb(143, 129, 129) !important;
  background-color: #FFF !important;
  color: black !important;
}

.hero-img{
  width:100%;
}

/*Buttons on Images*/

.top-left {
  position: absolute;
  top: 180px;
  left: 300px;
}

.top-left-1 {
  position: absolute;
  top: 180px;
  left: 450px;
}


.top-left-2 {
  position: absolute;
  top: 180px;
  left: 590px;
}

.top-left-3 {
  position: absolute;
  top: 180px;
  left: 800px;
}

.top-left-4 {
  position: absolute;
  top: 180px;
  left:990px;
}

.top-left-5 {
  position: absolute;
  top: 180px;
  left:1190px;
}

.tab-1{
  width: 100% !important;

}

.search-bar{
  width:475px !important;
  background: rgba(255, 255, 255,0.95)
}

.btn-box{
  box-shadow:2px 2px 10px rgba(0, 0, 0, 0.2) ;

}